*{
    margin: 0;
    padding: 0;
}


html ,body {
    background: none;
    height: 100%;
    width: 100%;
}

p{
    color: #ffffff;
}

.configuracion{
    background-color: #F5852A;
    padding: 15px 0;
}

.conf{
    font-size: 35px;
    padding-left: 28%;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

canvas {
    background-color: black;
    width: 70%;
    height: 62%;
}

.particula{
    background-color: #004E5C;
    margin-left: 4%;
    margin-right: 4%;
}

.formulario{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #595959;
}

.center{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center3{
    width: 100%;
    display: block;
    margin: auto;
}

.gridP{
    margin-top: 25px;
    width: 92%;
    display: grid;
    grid-template-columns: 54% 54%;
}

.gridC{
    width: 100%;
    display: grid;
    grid-template-columns: 110px 80px;
}

.tittle{
    width: 100%;
    height: 15%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size{
    width: 60%;
}
.size2{
    width: 80%;
}
