html ,body {
    display: flex;
    background: none;
    height: 100%;
    width: 100%;
}
 
canvas {
    background-color: black;
    width: 45%;
    height: 50%;
}

.formulario{
    width: 35%;
    height: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridP{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}